//- include main.html
extends layout

block content

    h1= title
    label(class="switch")
      input(type="checkbox" id = "interact")
      span(class="slider")
    div(id = "map" class="map")
  
    div(id="viewDiv")

    div(id="legendDiv")  
      div(class='legendClass' id = 'dynamicLegend')
        
    script.

      console.log($('#map').attr('id'))
      //pass data to frontend from backend
    script.
      var title = !{JSON.stringify(title)};
      var OtoDFile = !{JSON.stringify(OtoDFile)};
      var DtoOFile = !{JSON.stringify(DtoOFile)};
    script(src="/javascripts/test.js")
