html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Calibri;
}
h1{
  text-align: center
}

.switch {
  position: absolute;
  display: inline-block;
  width: 55px;
  height: 25px;
  margin-top:50px;
  margin-left:20px;
  z-index:50;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  z-index:50;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
#viewDiv{
  position: absolute;
  top: 100px;
  right: 20px;
  z-index: 50;
}
#map {
  width: 100%;
  height: 90%;
  padding: 0;
  margin: 0;
  position: relative;
}
#selectBoard {
  position: absolute;
  width:200px;
  top: 200px;
  left: 20px;
  z-index: 50;
  border-style: groove;
  background-color: #e6e6e6;
  text-align: center
}

#legendDiv {
  position:absolute;
  top:400px;
  left:20px;
  height:300px;
  overflow-y: scroll;
  z-index:50;
  width:200px;
  border-style: groove;
  background-color: #e6e6e6;

}
#travelMethod,#jobType{
  margin-bottom:50px;
}

select {
  height: 25px;
  border-radius: 5px;
  margin-right: 20px;
}
